body,
html {
  height: 100%;
}

.App {
  background-image: url('mainpage.jpg');
  /* height: 100vh; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-image: url('navbar.jpg');
}

.display {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 50%;
  margin: 0 auto;
}

