html {
  height: 100%;
}

body {
  background-image: url("mainpage.jpg");
  /* height: 100vh; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover, contain, auto;
}

.navbar {
  background-image: url("navbar.jpg");
}

.navbar-content {
  justify-content: right;
}

.display {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 50%;
  margin: 0 auto;
}

.logo {
  justify-content: left;
}

.welcome {
  justify-content: center;
}
